// colors
$nav-background: #328fc2;
$nav-active: #006899;
$nav-color: #fff;
$purple: #650360;
$info-green: #bbd8c4;
$tab-white: #efefef;
$tab-green: #ddebe1;
$odd-green: #eef5f0;
$even-green: #ddebe1;
$footer-background: #e7e8e9;
$link-color: #328fc2;

*{
  margin: 0;
  padding: 0;
}

#main-container{
  margin-top: 100px;
}

.navbar-default .navbar-toggle{
  border: none;
}

.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}